<h2>Phòng ban của bạn:
  <% if current_user.employee.department_id.present? %>
    <%= link_to current_user.employee.department.name, dpms_show_path(:id => current_user.employee.department.id) %> </h2>
  <% else %>
    ...
  <% end %>
  <h2>Dự án của bạn:
    <% if current_user.employee.present? %>
      <% current_user.employee.employee_projects.each do |c| %>
        <%= link_to c.project.name, prj_show_path(:id => c.project.id) %></h2>
      <% end %>
    <% else %>
      <h6 style="color: silver">hiện tại chưa có</h6>
    <% end %>