<h2>Phòng ban của bạn:
  <% if current_user.employee.department.present? %>
  <%= link_to current_user.employee.department.name, dpms_show_path(:id => current_user.employee.department.id) %> </h2>
    <% else %>
    ...
    <% end %>
<h2>Dự án của bạn:
  <% if current_user.employee.employee_projects.blank? %>
    ...</h2>
  <% end %>