<% if @project.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Phát hiện <%= @project.errors.count %> lỗi.
    </div>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>