<% if @dpm.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Phát hiện <%= @dpm.errors.count %> lỗi.
    </div>
    <ul>
      <% @dpm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>