<h1><%= @project.name %></h1>

<p>
  <strong>Mô tả: </strong> <%= @project.description %><br />
  <strong>Phòng ban đảm nhận: </strong> <%= @project.department_id %><br/>
</p>


<%= link_to 'Quay lại', {:action => 'list'} %>