<% if @users.blank? %>
  <p>Hiện tại không có tài khoản.</p>
<% else %>
  <p style="color: blue">Hiện tại đang có <%= @users.length %> tài khoản trên hệ thống:</p>
  <table class="table table-striped">
    <tr>
      <th>STT</th>
      <th>Tài khoản</th>
      <th>Tuỳ chọn</th>
    </tr>
    <% @users.each_with_index do |c, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= c.email %></td>
        <td>
          <%= link_to "Xoá", {:action => 'delete', :id => c.id} %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>